<script src="/assets/js/youtubeLazy.min.js"></script>
<script>
    // ytLazy__item youtube class div
    // document.addEventListener('DOMContentLoaded', new ytLazy('ytLazy__item'));
    new ytLazy("ytLazy__item", {
    // you can add color with opacity,
    // default: 'rgba(0,0,0,0.9)'
    // rgba, hsla
    background: "rgba(0,0,0,0.9)",

    // a global setter for all max-width movies
    // default 90%
    maxWidth: 80,

    // hide overflow to body
    // when open lightbox - default false
    // overflow: true,

    // open the movie in a local place
    // default local: true
    local: false,

    // genereate picture > source
    picture: true,

    // create your own button to open youtube video page
    createWatchIn: ({ index, link, template }) => {
        // based on the index, you can insert
        // a different template with the button's
        // appearance or color change
        template(`
        <div class="ytLazy__watch-in">
            <a href='${link}' class="ytLazy__watch-in-link" target="_blank">
            <span>Watch in</span>
            <svg><use xlink:href="#youtube-logo"></use></svg>
            </a>
        </div>
        `);
    },
    onResize: () => {
        let responsiveMin = 800;

        // we check the width of the browser window
        const windowWidth =
        window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth;

        const widthWindow = windowWidth < responsiveMin ? true : false;

        return widthWindow;
    },
    });
</script>