<section class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="/">{{ site.title }}</a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <span class="sidebar-nav-item"><a href="/about.html">About</a></span>
    </nav>
      
    <nav class="sidebar-social">
        <ul class="navigation">
          <!-- Twitter -->
          <li class="social-item twitter">
            <a href="{{ site.twitter }}" title="@kingsor on Twitter" target="_blank">
              <i class='icon fi-social-twitter'></i>
              <span class="label">Twitter</span>
            </a>
          </li>
          <!-- Google+ -->
          <li class="social-item gplus">
            <a href="{{ site.gplus }}" title="+EdoardoInamo" target="_blank">
              <i class='icon fi-social-google-plus'></i>
              <span class="label">Google+</span>
            </a>
          </li>
          <!-- GitHub -->
          <li class="social-item github">
            <a href="{{ site.github }}" title="@kingor on GitHub" target="_blank">
              <i class='icon fi-social-github'></i>
              <span class="label">GitHub</span>
            </a>
          </li>
          <!-- LinkedIn -->
          <li class="social-item linkedin">
            <a href="{{site.linkedin}}" title="Edoardo Inamo on LinkedIn" target="_blank">
              <i class='icon fi-social-linkedin'></i>
              <span class="label">LinkedIn</span>
            </a>
          </li>
        </ul>
    </nav>
  </div>
</section>