<section class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <span class="sidebar-nav-item"><a href="/about.html">About</a></span>
    </nav>

    <a href="{{ site.gplus }}" target="_blank">Plus</a> -
    <a href="{{ site.twitter }}" target="_blank">Twitter</a> -
    <a href="{{ site.github }}" target="_blank">Github</a>
  </div>
</section>