---
layout: default
---

<section class="content container">
    <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date"><i class="fi-calendar"></i>&nbsp;{{ page.date | date: "%b %e, %Y" }}</span>
        <span class="post-date">
          <i class="fi-price-tag"></i>&nbsp;
          {% if page.tags == null %}
            Not tagged
          {% else %}
            {% for tag in page.tags %}
              <a href="/tags#{{ tag | slugify }}-ref">{{ tag | capitalize}}</a>
            {% endfor %}
          {% endif %}
        </span>
        {{ content }}
    </div>
</section>
